.star-rating {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding-left:115px
   }
   .star {
    color: gray;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
   }
   .star:hover,
   .star.rated {
    color: gold; 
   }
   .star:hover {
    transform: scale(1.1); 
   }