button{
    background-color: rgb(28, 25, 25);
    border-radius: 6px;
    border: none;
    padding: 10px 20px ;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    align-self: center;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
}
button:hover {
  background-color: black; 
}
 
   